<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <icon></icon>
  <title>Daily Journal</title>
  <link rel = "icon" href = 
  "img/logo.png" 
          type = "image/x-icon">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <script src="https://kit.fontawesome.com/9bb8901042.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" href="assets/img/icon.png" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cardo&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">

  <style>
    .container::before {
      background: url("img/post.jpg") no-repeat center center/cover;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.25;
    }

    h1 {
      font-family: 'Aclonica', sans-serif;
    }

    p {
      font-family: 'Cardo', serif;
      font-size: medium;
      font-weight: 600;
    }

  </style>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/"><img class="navbar-brand-img" src="/img/BGW.png" /></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li id="home" class="nav-item"><a class="nav-link active" href="/">HOME</a></li>

        <li id="about" class="nav-item"><a href="about" class="nav-link active">ABOUT US</a></li>

        <li id="contact" class="nav-item"><a class="nav-link active" href="contact">CONTACT US</a></li>

        <li id="contact" class="nav-item"><a class="nav-link active" href="testimonial">TESTIMONIAL</a></li>

        <li id="compose" class="nav-item"><a href="compose" class="nav-link active">COMPOSE</a></li>
        
        <li id="log-out" class="nav-item"><a href="/logout" class="nav-link active">LOG-OUT</a></li>

      </ul>

      <form class="d-flex" action="/search" method="get">
        <input name="dsearch" class="form-control me-2" type="text" placeholder="Search Posts Name" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>

  </nav>

  <div class="container">