<%- include("partials/header"); -%>

<div>

    <h1 style="text-align: center">
        <span style="font-size: 30px"><u>About Us !</u></span>
    </h1>
    <h3 style="text-align: center">
        <span style="font-weight: normal"><span style="font-size: large">Hello Friends Welcome To Daily
                Journal</span></span>
    </h3>
    <p style="text-align: center"><br /></p>
    <p style="font-size: 22px">
        Daily Journal is a Professional Blog post website Platform. Here we will
        provide you only interesting content, which you will like very much.<br />
    </p>
    <p style="text-align: center"><br /></p>
    <p style="font-size: 22px">
        We're dedicated to providing you the best of Blog post website, with a focus
        on dependability and post updates.<br /><br />
    </p>
    <p style="font-size: 22px">
        We're working to turn our passion for Blog post website into a booming
        online website. We hope you enjoy our Blog post website as much as we enjoy
        offering them to you.
    </p>

    <div style="text-align: center"><br /></div>

    <div style="text-align: center">
        <h3>
            I will keep posting more important posts on my Website for all of you.
            Please give your support and love.
        </h3>
    </div>

    <div style="text-align: center">
        <h3>Thanks For Visiting Our Site</h3>
    </div>

    <div style="text-align: center">

        <h4 id="contact"><a class="nav-link active" href="contact">CONTACT US</a></h4>

    </div>
    
</div>

<%- include("partials/footer"); -%>